<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Portfolio Suite">
 <listeners>
	 <listener class-name="listener.MyTestNGListener"></listener>
 </listeners>
  <test name="Create Portfolio Test">
    <classes>
      <class name="testcases.rediff.Session">
        <methods>
          <include name="doLogin" />
          <include name="doLogout" />
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->

  <test name="deletePortfolio Portfolio Test">
    <classes>
      <class name="testcases.rediff.PortfolioManagement">
        <methods>
          <include name="createPortfolio" />
          <include name="deletePortfolio" />
        </methods>
      </class>
     </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
